@import url(https://fonts.google.com/specimen/Poppins);

@import url(https://fonts.google.com/specimen/Open+Sans);


:root {
    --paleCyan: hsl(193, 100%, 96%);
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
    --Pink: hsl(322, 100%, 66%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open+sans', sans-serif;
}

body {
    height: 100vh;    
}


/* Hero Section */

.top-sec {
    background-image: url(/images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;

}

nav .logo {
    width: 9rem;
    height: 2rem;
}

#try--free {
    padding: 5px 38px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    background-color: white;
    cursor: pointer;
}

.top-image {
    width: 35rem;
    height: 25rem;
    margin-left: 10rem;
}

.hero-area {
    display: flex;
    padding: 2rem 4rem;
}

.heroheader {
    font-size: 3rem;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 35rem;
    line-height: 70px;
}

.hero-area p {
    font-size: 1.6rem;
    width: 40rem;
    margin-bottom: 30px;
}

#get_started {
    padding: 15px 45px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    background-color: var(--Pink);
    color: white;
    cursor: pointer;

}


/* Hero Section end */

/* Middle Section */


.three-boxes-sec {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 8rem;
}

.box-image {
    width: 13rem;
    height: 10rem;
}

.mid-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    height: 15rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 0.5rem;
    padding-left: 90px;
    padding-right: 20px;
}

.fst-box p {
    color: var(--GrayishBlue);
    width: 35rem;
    margin-top: 20px;
}



/* Middle Section end */


.bottom-box {
    position: relative;
    left: 30rem;
    top: 11rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75); 
    height: 14rem;
    width: 38rem;
    border-radius: 0.5rem;
    background-color: white;
    
      
}

.bottom-box button {
    padding: 15px 45px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 23px -12px rgba(0,0,0,0.75);
    background-color: var(--Pink);
    color: white;
    cursor: pointer;
}



/* Footer Start */

footer {
    background-color: hsl(192, 100%, 9%);
    color: white;
    margin-top: 8rem;
    padding: 2rem 4rem;
}

.footerlogo {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.footer-info {
    display: flex;
    gap: 9rem;    
}

.footer1 li img {
    margin-right: 1rem;
       
}

footer div ul {
    list-style: none;
    line-height: 2.5rem;
}


.social {
    width: 1.5rem;
    height: 1.5rem;
}

.attribution { 
    font-size: 11px; 
    text-align: right; 
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* Footer End */